<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="./app.webmanifest" />
    <meta name="theme-color" content="#0f3551" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <title>Katalog Restoran</title>

    <link rel="icon" href="./favicon.png" />

    <!-- Icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Signika&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#mainContent" tabindex="0" class="skip-link">Menuju ke konten</a>
    <header class="container">
      <nav-bar></nav-bar>
    </header>

    <main id="mainContent" tabindex="0"></main>

    <footer>Copyright © 2023 - Food Spot</footer>
  </body>
</html>
